.clr-dark-green {
    color: #008000;
}

.clr-light-green {
    color: #e8ffe8;
}

.bkg-light-green {
    background-color: #f0fff0;
}

.bkg-dark-gray {
    background-color: #c0c0c0;
}

.card-title {
    color: #008000;
}

.btn-green {
    color: #008000;
    background-color: #e8ffe8;
    border-color: #008000;
}

.btn-green:hover {
    background-color: #f9fff9;
}

.btn-green.focus,
.btn-green:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, .1);
}

.btn-green.disabled,
.btn-green:disabled {
    color: #408040;
    border: 0px;
}

.btn-green:not(:disabled):not(.disabled).active:focus,
.btn-green:not(:disabled):not(.disabled):active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, 0.1);
}

.no-border {
    border: 0px;
}