/* xs (for phones - screens less than 768px wide)
   sm (for tablets - screens equal to or greater than 768px wide)
   md (for small laptops - screens equal to or greater than 992px wide)
   lg (for laptops and desktops - screens equal to or greater than 1200px wide)
*/

@media only screen and (max-width: 767px) {
    #jssite {
        margin-top: 80px;
    }
    .h1,
    h1 {
        font-size: 2rem
    }
    .h2,
    h2 {
        font-size: 1.75rem
    }
    .h3,
    h3 {
        font-size: 1.5rem
    }
    .h4,
    h4 {
        font-size: 1.25rem
    }
    .h5,
    h5 {
        font-size: 1rem
    }
    .h6,
    h6 {
        font-size: 1rem
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {
    #jssite {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    #jssite {
        margin-top: 40px;
    }
}

.nav-text {
    padding-top: 8px;
    color: #008000;
    background-color: #f0fff0;
}

.clr-dark-green {
    color: #008000;
}

.clr-light-green {
    color: #e8ffe8;
}

.bkg-light-green {
    background-color: #f0fff0;
}

.bkg-dark-gray {
    background-color: #c0c0c0;
}

.card-title {
    color: #008000;
}

.btn-green {
    color: #008000;
    background-color: #e8ffe8;
    border-color: #008000;
}

.btn-green:hover {
    background-color: #ffffff;
}

.btn-green.disabled,
.btn-green:disabled {
    color: #75b675;
    border: 0px;
}

.btn-green.focus,
.btn-green:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.btn-green:not(:disabled):not(.disabled):active:focus,
.show>.btn-green.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 128, 0, .1);
    animation: pulse .25s 1;
}

@-webkit-keyframes pulse {
    from {
        background-color: #008000;
    }
    to {
        background-color: #e8ffe8;
    }
}

/* Standard syntax */

@keyframes pulse {
    from {
        background-color: #008000;
    }
    to {
        background-color: #e8ffe8;
    }
}

.no-border {
    border: 0px;
}